<% if user.errors.any? %>
  <% user.errors.each do |error| %>
    <p class="text-red-500 text-xs italic ml-4"><%= error.full_message %></p>
  <% end %>
<% end %>

<% flash.each do |flash_type, message| %>
  <p class="text-green-500 text-xs italic ml-4"><%= message %></p>
<% end %>
