<div class="flex justify-center mt-8">
  <h1 class="text-3xl font-semibold">TODO App</div>
</div>

<main class="grid gap-6 my-6 mx-12 w-2xl container px-2 mx-auto">
  <%= render "users/index" %>
  <%= render "todos/index" %>
  <%= render "todos/active" %>
  <%= render "todos/completed" %>
</main>
